<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<typeAliases>
  <typeAlias alias="member" type="com.yedam.member.vo.MemberVO"/>
  <typeAlias alias="calendar" type="com.yedam.calendar.vo.CalendarVO"/>
  <typeAlias alias="board" type="com.yedam.board.vo.BoardVO"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@3.36.82.166:1521/xe"/>
        <property name="username" value="proj"/>
        <property name="password" value="proj"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/yedam/member/dao/MemberMapper.xml"/>
    <mapper resource="com/yedam/calendar/dao/CalendarMapper.xml"/>
    <mapper resource="com/yedam/board/dao/BoardMapper.xml"/>
  </mappers>
</configuration>